@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}

body {
  background-image: url('/src/data/bg_1.jpg'); /* Устанавливаем локальное изображение */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6); /* Полупрозрачный белый фон */
  z-index: 0;
}

#root {
  position: relative;
  z-index: 1;
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }

  body {
    padding: 0 10px;
  }

  .text-base {
    font-size: 14px;
  }
}

/* Убираем стрелки в input type="number" */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
